a {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:100;
}

h1, h2, h3, h4, h5, p {
	margin-top:0;
}

html {
	height:100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Fenix', serif;
	color:#802E94;
	background-image: url("../images/tellah-desktop.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position:bottom right;
}

#alltext {
	/*background-color:pink;*/
	width:400px;
	margin-left:70%;
	margin-top:14%;
}

#quote {
	text-transform:uppercase;
	line-height: 90%;
	font-size: 70px;
	margin-bottom:0;
	padding-bottom:0;
}

p {
	margin-bottom: 0;
}

h2 {
	padding-top: 5%;
	font-size:26px;
}

@media (max-width: 1300px) {
	#alltext {
		width:400px;
		margin-left:64%;
		margin-top:18%;
	}
} 

@media (max-width: 1100px) {
	#alltext {
		width:400px;
		margin-left:58%;
		margin-top:22%;
	}
} 

@media (max-width: 950px) {
	body {
	padding: 0;
	margin: 0;
	font-family: 'Fenix', serif;
	color:#802E94;
	background-image: url("../images/tellah-desktop.jpg");
/*	background-size:cover;
*/	background-repeat: no-repeat;
	background-position:center;
	}
	#alltext {
		width:340px;
		margin-left:64%;
		margin-top:22%;
	}

	#quote {
	text-transform:uppercase;
	line-height: 90%;
	font-size: 60px;
	margin-bottom:0;
	padding-bottom:0;
	}

	h2 {
		padding-top: 5%;
		font-size:24px;
	}
} 


@media (max-width: 800px) {
	#alltext {
		width:340px;
		margin-left:60%;
		margin-top:26%;
	}

	#quote {
	text-transform:uppercase;
	line-height: 90%;
	font-size: 60px;
	margin-bottom:0;
	padding-bottom:0;
	}

	h2 {
		padding-top: 5%;
		font-size:24px;
	}
} 

@media (max-width:600px) {
	body {
		padding: 0;
		margin: 0;
		font-family: 'Fenix', serif;
		color:#802E94;
		background-image: url("../images/tellah-mobile.jpg");
	/*	background-size:cover;
	*/	background-repeat: no-repeat;
		background-position:center;
	}

	#alltext {
		width:340px;
		margin-left:12%;
		margin-top:18%;
	}

	#quote {
	text-transform:uppercase;
	line-height: 90%;
	font-size: 60px;
	margin-bottom:0;
	padding-bottom:0;
	}

	h2 {
		padding-top: 5%;
		font-size:24px;
	}
}